<nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <h3>Notes</h3>

    <hr>
    <div *ngFor="let note of notes">
      <p><label>{{note.title}} <i class="fa fa-edit "></i> <i class="fa fa-trash"></i></label></p>
    </div>
    <a class="w3-button w3-circle w3-large w3-card-4"><i class="fa fa-plus"></i></a>
  </div>
</nav>

<div class="main">
  <div class="w3-half">
    <input class="w3-input" type="text" required>
    <label>Title</label>
    <textarea class="w3-input" type="text" required></textarea>
  </div>

  <div class="w3-half">
    <a class="w3-button w3-circle w3-large w3-card-4"><i class="fa fa-check"></i></a>
    <a class="w3-button w3-circle w3-large w3-card-4"><i class="fa fa-close"></i></a>
  </div>
</div>